# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:AM2 <AM2:AM2.cfg>
    S:APPENG <APPENG:APPENG.cfg>
    S:ATOMICSTRYKER <ATOMICSTRYKER:ATOMICSTRYKER.cfg>
    S:BRANDON3055 <BRANDON3055:BRANDON3055.cfg>
    S:BUILDCRAFT <BUILDCRAFT:BUILDCRAFT.cfg>
    S:CAVEBIOMES <CAVEBIOMES:CAVEBIOMES.cfg>
    S:CHOCOLATE <CHOCOLATE:CHOCOLATE.cfg>
    S:CHYLEX <CHYLEX:CHYLEX.cfg>
    S:COFH <COFH:COFH.cfg>
    S:CRAZYPANTS <CRAZYPANTS:CRAZYPANTS.cfg>
    S:CYANO <CYANO:CYANO.cfg>
    S:ELN <ELN:ELN.cfg>
    S:EMONIPH <EMONIPH:EMONIPH.cfg>
    S:FLAXBEARD <FLAXBEARD:FLAXBEARD.cfg>
    S:FORESTRY <FORESTRY:FORESTRY.cfg>
    S:FOSSIL <FOSSIL:FOSSIL.cfg>
    S:GANYMEDES01 <GANYMEDES01:GANYMEDES01.cfg>

    # automatically generated
    S:KENTINGTON <KENTINGTON:KENTINGTON.cfg>
    S:MATTEROVERDRIVE <MATTEROVERDRIVE:MATTEROVERDRIVE.cfg>
    S:MEKANISM <MEKANISM:MEKANISM.cfg>
    S:MICDOODLE8 <MICDOODLE8:MICDOODLE8.cfg>
    S:MONNEF <MONNEF:MONNEF.cfg>
    S:MRCOMPUTERGHOST <MRCOMPUTERGHOST:MRCOMPUTERGHOST.cfg>
    S:NATURA <NATURA:NATURA.cfg>
    S:OPENBLOCKS <OPENBLOCKS:OPENBLOCKS.cfg>
    S:POWERCRYSTALS <POWERCRYSTALS:POWERCRYSTALS.cfg>
    S:STEVENDIMDOORS <STEVENDIMDOORS:STEVENDIMDOORS.cfg>
    S:TCONSTRUCT <TCONSTRUCT:TCONSTRUCT.cfg>
    S:TEAM <TEAM:TEAM.cfg>
    S:TUHLJIN <TUHLJIN:TUHLJIN.cfg>
    S:VAZKII <VAZKII:VAZKII.cfg>
    S:WAYOFTIME <WAYOFTIME:WAYOFTIME.cfg>
    S:XCOMPWIZ <XCOMPWIZ:XCOMPWIZ.cfg>
    S:arsmagica <ARS:ArsMagica.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:drzhark <MOC:MoCreatures.cfg>
    S:extrabiomes <XL:ExtraBiomesXL.cfg>
    S:projectzulu <PZ:ProjectZulu.cfg>
    S:thaumcraft <TC:Thaumcraft.cfg>
    S:tinker <TC:TinkerConstruct.cfg>
    S:twilightforest <TF:TwilightForest.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


